//breakpoints
$mobile-small:  320px;
$mobile-large:  500px;
$tablet:        767px;
$desktop-small: 991px;
$desktop-mid:   1201px;
$desktop-large: 1440px;

//colors
$cl-white: #FFFFFF;
$cl-black: #000000;
$cl-dark-blue: #062946;
$cl-light-blue: #1E74BD;
$cl-orange: #feab2b;
$cl-gray-light: #f6f6f6;
$cl-gray-mid: #4A4A4A;
$cl-gray-dark: #283A48;
$cl-dark-blue-border: #D7DDE1;
$cl-footer: #142130;
$cl-light-blue-banner: #DAEAF8;
// grid
$maxWidth1: 1400px;
$maxWidth2: 1200px;
$grid-columns: 12;
