.home-header {
  padding-left: 20px;
  padding-right: 35px;
  position: relative;
  @media screen and (min-width: 750px) {
    padding-bottom: 35px;
  }
  .home-header_cloud1 {
    top: -220px;
    left: 0;
    width: 100vw;
    height: 140vh;
    position: absolute;
    background-image: url("../img/clouds.png");
    background-size: 200% auto;
    background-repeat: no-repeat;
    background-position: 13% 0;
    z-index: 0;
    @media screen and (min-width: 750px) {
      width: 75vw;
      top: -200px;
      background-position: -100px 0;
      background-size: 100% auto;
    }
  }
  .home-header_cloud2 {
    display: none;
    @media screen and (min-width: 750px) {
      top: -160px;
      right: 0;
      width: 75vw;
      height: 140vh;
      position: absolute;
      display: block;
      background-image: url("../img/clouds.png");
      background-size: 100% auto;
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: 0;
    }
  }
  .home-header_column {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
    @media screen and (min-width: 750px) {
      padding-right: 5%;
      float: left;
      &:first-child {
        width: 60%;
        padding-left: 20%;
      }
      &:nth-child(2) {
        width: 40%;
      }
    }
    @media screen and (min-width: 1200px) {
      padding-right: 3.3%;
      float: left;
      &:first-child {
        width: 400px;
        margin-left: 33%;
        padding-right: 110px;
        padding-left: 0;
      }
      &:nth-child(2) {
        width: 290px;
        padding-left: 0;
        padding-right: 0;
      }
    }
    h2 {
      padding-top: 10px;
      font-size: 26px;
      font-family: 'Raleway-ExtraBold';
      line-height: 1.2;
      border-bottom: 1px solid rgba(6, 41, 70, .4);
      padding-bottom: 10px;
      span {
        color: $cl-light-blue;
      }
    }
    p {
      padding-top: 20px;
      padding-right: 35px;
      font-size: 14px;
      font-family: 'Raleway-Regular';
      color: $cl-gray-mid;
      line-height: 1.5;
      font-weight: 500;
      letter-spacing: .5px;
    }
    a {
      display: block;
      padding-top: 20px;
      font-size: 17px;
      font-family: 'Raleway-Bold';
      color: $cl-light-blue;
      text-decoration: none;
      letter-spacing: .5px;
      span {
        display: inline-block;
        padding-left: 3px;
        font-family: 'custom-icons';
        font-size: 11px;
        color: $cl-light-blue;
        vertical-align: middle;
      }
    }
  }
  .home-vend_rectangle {
        margin-bottom: 60px;

  }
}
 .home-vend {
    padding-left: 0;
    padding-right: 0;
    margin-top: -115px;
    position: relative;
    z-index: 4;

     @media screen and (min-width: 750px) {
        margin-top: -50px;
        padding-left: 20px;
         padding-right: 0;
     }

    .home-vend_rectangle-bar {

    @media screen and (min-width: 750px) {
        position: relative;
        height: 70px;
        width: 80%;
        max-width: 1000px;
        margin-left: 14%;
        border-top: 70px solid rgba(255, 255, 255, 0.6);
        border-right: 70px solid transparent;
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 850px;
        margin-left: 20%;
    }
    @media screen and (min-width: 1400px) {
        max-width: 950px;
        margin-left: auto;
        margin-right: auto;
    }

    @media screen and (min-width: 2000px) {
        max-width: 1100px;
    }

    .home-vend_square {
        width: 180px;
        position: relative;
        left: -59px;
        top: -102px;
        z-index: 4;

        @media screen and (max-width: 750px) {
             position: absolute;
            width: 1px;
            height: 1px;
        }
     }

    .home-vend_rectangle_logos {

        position: relative;
        width: 88%;
        opacity: 0.8;
        display: flex;
        align-items: center;
        justify-content: center;
        align-content: space-between;
        justify-content: flex-start;
        left: 0;

        .home-vend_rectangle_logos > div {
                flex: unset;
            }
         @media screen and (max-width: 749px) {
             flex-wrap: wrap;
             width: 100%;
            .home-vend_rectangle_logo-1, .home-vend_rectangle_logo-2, .home-vend_rectangle_logo-3, .home-vend_rectangle_logo-4, .home-vend_rectangle_logo-5  {
                flex: 0 0 50%;
                padding-bottom: 15px;
            }
        }

//        @media screen and (max-width: 749px) {
//                width: 100%;
//        }

        @media screen and (min-width: 750px) {
            position: absolute;
            z-index: 10;
            top: -56px;
//            left: 100px;
//            width: 88%;
            left: 18%;
            width: 80%;
            text-align: center;
        }

        .home-vend_rectangle_logo-1 {
            text-align: center;
            margin: auto;
            @media screen and (min-width: 750px) {
                margin-right: auto;
                text-align: left;
            }
            .home-vend_rectangle_logo-img1 {

            flex: 0 50%;
            @media screen and (max-width: 480px) {
//                width: 60px;
                width: 92px;
                height: auto;
            }
                padding: 0 2px;
                width: 92px;
                height: auto;
            }
        }

        .home-vend_rectangle_logo-2 {

            margin: auto;
            text-align: center;


            /* Left align final logo on mobile */
            @media screen and (max-width: 748px) {
                margin: unset;
//                max-width: 50%;
            }

            .home-vend_rectangle_logo-img2 {
                flex: 0 50%;
                @media screen and (max-width: 480px) {
//                    width: 102px;
                    width: 140px;
                    height: auto;
                }
                padding: 0 2px;
                    width: 140px;
                    height: auto;
                }
        }

        .home-vend_rectangle_logo-3 {

           margin: auto;
               text-align: center;
          .home-vend_rectangle_logo-img3 {
              flex: 0 50%;
            @media screen and (max-width: 480px) {
//                width: 45px;
                height: auto;
                 width: 122px;
            }
              padding: 0 2px;
                width: 122px;
                height: auto;
          }
        }

        .home-vend_rectangle_logo-4 {
            /* ibm */
           margin: auto;
           text-align: center;
          .home-vend_rectangle_logo-img4 {
             flex: 0 50%;
            @media screen and (max-width: 480px) {
                width: auto;
                height: 50px;
            }
              padding: 0 2px;
                width: auto;
                height: 50px;
                padding-bottom: 6px;
          }
        }

        .home-vend_rectangle_logo-5 {

           margin: auto;
           text-align: center;

          .home-vend_rectangle_logo-img5 {
            flex: 0 50%;
            @media screen and (max-width: 480px) {
                margin-left: 0;
                width: auto;
                height: 42px;
            }
                padding: 0 2px;
                width: auto;
                height: 42px;
          }
        }
      }
    }
}
