.services_wrap {
  .services_row {
    .services_col {
      @media screen and (min-width: 750px) {
        float: left;
      }
      .services_col-header {
        border-bottom: 1px solid rgba(6, 41, 70, .4);
        padding-bottom: 25px;
        position: relative;
        h2 {
          font-size: 22px;
          font-family: 'Raleway-ExtraBold';
          color: $cl-dark-blue;
          @media screen and (min-width: 750px) {
            font-size: 26px;
          }
        }
        @media screen and (min-width: 1200px) {
          .services_header-triangle-wrap {
            width: 38%;
            position: absolute;
            left: 0;
            bottom: -1px;
            text-align: center;
            .services_header-triangle {
              width: 0;
              height: 0;
              border-left: 40px solid transparent;
              border-right: 40px solid transparent;
              border-bottom: 45px solid $cl-light-blue;
              display: inline-block;
              vertical-align: bottom;
              opacity: .5;
            }
          }
        }
      }
      .services_col-content {
        padding-top: 20px;
        p {
          font-size: 14px;
          font-family: 'Raleway-Regular';
          color: $cl-gray-mid;
          line-height: 1.5;
          letter-spacing: 0.5px;
          @media screen and (min-width: 750px) {
            font-size: 15px;
            padding-right: 15px;
          }
          @media screen and (min-width: 1200px) {
            padding-right: 0;
          }
        }
        .services_content-list {
          padding-top: 10px;
          padding-bottom: 10px;
          ul {
            li {
              font-size: 14px;
              font-family: 'Raleway-ExtraBold';
              color: $cl-light-blue;
              line-height: 2.3;
              span {
                font-family: 'custom-icons';
                font-size: 12px;
                color: #8FB9DD;
                padding-right: 5px;
              }
              @media screen and (min-width: 750px) {
                font-size: 15px;
              }
            }
          }
        }
        .services_col-footer {
          border-top: 1px solid rgba(6, 41, 70, .4);
          padding-top: 20px;
          margin-top: 20px;
          img {
            display: inline-block;
            float: left;
            padding-right: 5px;
          }
          p {
            font-size: 14px;
            font-family: 'Raleway-Bold';
            color: $cl-light-blue;
            text-transform: uppercase;
            padding-top: 5px;
            letter-spacing: 0.5px;
            @media screen and (min-width: 750px) {
              font-size: 15px;
            }
          }
        }
      }
    }
    .services_col1 {
      width: 100%;
      padding-top: 40px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
      @media screen and (min-width: 750px) {
        padding-top: 70px;
        width: 60%;
        padding-right: 10%;
        padding-left: 0;
      }
      @media screen and (min-width: 1200px) {
        padding-right: 7%;
      }
      .services_col-header {
        h2 {
          @media screen and (min-width: 750px) {
            padding-left: 20%;
          }
          @media screen and (min-width: 1200px) {
            padding-left: 38%;
          }
        }
      }
      .services_col-content {
        @media screen and (min-width: 750px) {
          padding-left: 20%;
          padding-right: 0;
        }
        @media screen and (min-width: 1200px) {
          padding-left: 38%;
        }
        p {
          letter-spacing: 0.5px;
          padding-right: 20px;
          @media screen and (min-width: 750px) {
            padding-right: 40px;
          }
          @media screen and (min-width: 1200px) {
            padding-right: 20px;;
          }
        }
      }
    }
    .services_col2 {
      width: 100%;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-right: 20px;
      padding-left: 20px;
      @media screen and (min-width: 750px) {
        padding-top: 70px;
        padding-left: 0;
        width: 40%;
        padding-right: 0;
      }
      @media screen and (min-width: 1200px) {
        padding-right: 7%;
      }
      .services_col-content {
        .services_col-footer {
          @media screen and (min-width: 750px) {
            margin-top: 30px;
          }
        }
      }
      &.is-odd {
        padding-top: 20px;
        width: 100%;
        @media screen and (min-width: 750px) {
          padding-top: 30px;
          width: 45%;
          padding-left: 35px;
        }
        @media screen and (min-width: 1200px) {
          width: 40%;
          padding-left: 25px;
        }
        .services_col-header {
          h2 {
            padding-right: 20px;
            @media screen and (min-width: 1200px) {
              padding-right: 0;
            }
          }
          p {
            padding-right: 20px;
            @media screen and (min-width: 1200px) {
              padding-right: 0;
            }
          }
        }
      }
    }
    .services_col3 {
      display: none;
      @media screen and (min-width: 750px) {
        display: block;
        width: 55%;
        padding-left: 0;
        padding-top: 30px;
      }
      @media screen and (min-width: 1200px) {
        width: 50%;
        padding-left: 6.7%;
      }
      @media screen and (min-width: 1500px) {
        padding-left: 15%;
      }
      .services_col-image {
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    .services_col4 {
      display: none;
      @media screen and (min-width: 750px) {
        display: block;
      }
      width: 45%;
      padding-left: 35px;
      margin-top: -50px;
      @media screen and (min-width: 1200px) {
        width: 320px;
        margin-top: 0;
        padding-left: 0;
      }
      .services_contact {
        margin-top: 70px;
        background-color: $cl-light-blue-banner;
        padding-top: 35px;
        padding-left: 30px;
        h2 {
          padding-bottom: 16px;
          font-size: 22px;
          font-family: 'Raleway-ExtraBold';
          color: $cl-dark-blue;
          @media screen and (min-width: 750px) {
            font-size: 26px;
          }
        }
        >p {
          font-size: 15px;
          font-family: 'Raleway-Regular';
          color: $cl-gray-mid;
          line-height: 1.5;
          span {
            font-family: 'Raleway-Bold';
          }
        }
        a {
          margin-bottom: 40px;
          margin-top: 25px;
          padding-right: 15px;
          padding-left: 15px;
          span {
            padding-left: 10px;
          }
        }
      }
      .services_image {
        width: 241px;
        float: right;
        img {
          height: auto;
          width: 100%;
        }
      }
    }
    .services_col5 {
      width: 100%;
      padding-top: 20px;
      @media screen and (min-width: 750px) {
        width: 55%;
        margin-top: -200px;
        padding-right: 5%;
        .services_col-header {
          margin-left: 20%;
          h2 {
            padding-left: 0;
          }
        }
      }
      @media screen and (min-width: 800px) {
        margin-top: -180px;
      }
      @media screen and (min-width: 820px) {
        margin-top: -150px;
      }
      @media screen and (min-width: 850px) {
        margin-top: -120px;
      }
      @media screen and (min-width: 900px) {
        margin-top: -90px;
      }
      @media screen and (min-width: 900px) {
        margin-top: -60px;
      }
      @media screen and (min-width: 1000px) {
        margin-top: -20px;
      }
      @media screen and (min-width: 1200px) {
        margin-top: 0;
        width: 60%;
        padding-right: 8%;
        .services_col-header {
          margin-left: 0;
          h2 {
            padding-left: 38%;
          }
        }
      }
      .services_col-content {
        p {
          letter-spacing: 0.5px;
          padding-right: 0px;
        }
      }
    }
  }
}
.services_container {
  max-width: 710px;
  margin: auto;
  .services_header-row {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 40px;
        @media screen and (min-width: 750px) {
          margin-top: 40px;
          font-size: 26px;
        }
    h2 {
      padding-bottom: 15px;
      font-size: 22px;
      font-family: 'Raleway-ExtraBold';
      color: $cl-dark-blue;
      @media screen and (min-width: 750px) {
        font-size: 26px;
      }
    }
    p {
      font-size: 14px;
      font-family: 'Raleway-Regular';
      color: $cl-dark-blue;
      line-height: 1.5;
      @media screen and (min-width: 750px) {
        font-size: 15px;
      }
    }
  }
  .services_rates-row {
    margin-top: 30px;
    .services_rates-col {
      width: 100%;
      float: left;
      @media screen and (min-width: 750px) {
        width: 32%;
      }
      .services_rates-header {
        padding-top: 25px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 25px;
        .services_rates-title {
          padding-bottom: 15px;
          border-bottom: 1px solid rgba(6, 41, 70, .4);
          h2 {
            text-align: center;
            font-size: 22px;
            font-family: 'Raleway-ExtraBold';
            color: $cl-dark-blue;
          }
          p {
            padding-top: 10px;
            text-align: center;
            font-size: 16px;
            font-family: 'Raleway-Regular';
            color: $cl-dark-blue;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.5px;
          }
        }
        .services_rates-pounds {
          padding-top: 15px;
          text-align: center;
          font-size: 22px;
          font-family: 'Raleway-Bold';
          color: $cl-white;
        }
        .services_rates-currency {
          padding-top: 5px;
          text-align: center;
          font-size: 12px;
          font-family: 'Raleway-Bold';
          color: $cl-white;
        }
      }
      .services_rates-text {
        padding: 15px 10px 15px 10px;
        p {
          text-align: center;
          font-size: 14px;
          font-family: 'Raleway-Regular';
          color: $cl-gray-mid;
          line-height: 1.5;
          span {
            font-family: 'Raleway-Bold';
          }
        }
      }
    }
    .services_rates-col1 {
      background: rgba(30, 116, 189, 0.1);
      margin-right: 10px;
      margin-bottom: 20px;
      @media screen and (min-width: 750px) {
        margin-bottom: 0;
      }
      .services_rates-header {
        background: rgba(30, 116, 189, 0.35);
      }
    }
    .services_rates-col2 {
      background: rgba(30, 116, 189, 0.2);
      margin-right: 10px;
      margin-bottom: 20px;
      @media screen and (min-width: 750px) {
        margin-bottom: 0;
      }
      .services_rates-header {
        background: rgba(30, 116, 189, 0.45);
      }
    }
    .services_rates-col3 {
      background: rgba(30, 116, 189, 0.3);
      margin-bottom: 20px;
      @media screen and (min-width: 750px) {
        margin-bottom: 0;
      }
      .services_rates-header {
        background: rgba(30, 116, 189, 0.55);
      }
    }
  }
  .services_vat-row {
    margin-bottom: 30px;
    border-top: none;
    padding-left: 20px;
    padding-right: 20px;
    @media screen and (min-width: 750px) {
      border-top: 1px solid rgba(6, 41, 70, .4);
      margin-top: 40px;
      margin-bottom: 120px;
      padding-top: 20px;
    }
    p {
      text-align: center;
      font-size: 14px;
      font-family: 'Raleway-Regular';
      color: $cl-gray-mid;
      font-weight: 500;
      line-height: 1.5;
      letter-spacing: .5px;
      span {
        font-family: 'Raleway-Bold';
      }
      a {
        font-family: 'Raleway-Bold';
        color: $cl-light-blue;
      }
    }
  }
  .services_contact-mobile {
    background-color: $cl-light-blue-banner;
    padding-top: 35px;
    padding-left: 30px;
    height: 240px;
    @media screen and (min-width: 750px) {
      display: none;
    }
    .services_contact {
      h2 {
        padding-bottom: 20px;
        font-size: 22px;
        font-family: 'Raleway-ExtraBold';
        color: $cl-dark-blue;
      }
      >p {
        font-size: 15px;
        font-family: 'Raleway-Regular';
        color: $cl-gray-mid;
        line-height: 1.5;
        span {
          font-family: 'Raleway-Bold';
        }
      }
      a {
        margin-bottom: 40px;
        margin-top: 25px;
        padding-right: 15px;
        padding-left: 15px;
        span {
          padding-left: 10px;
        }
      }
    }
  }
}
