.why-cf_articles {
  margin-top: 40px;
  @media screen and (min-width: 750px) {
    margin-top: 70px;
  }
  .why-cf_articles-title {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    @media screen and (min-width: 750px) {
      padding-left: 10%;
      padding-right: 10%;
      &::after {
        content: "";
        height: 1px;
        width: 93%;
        left: 0;
        bottom: 0;
        position: absolute;
        border-bottom: 1px solid rgba(6, 41, 70, 0.4);
      }
    }
    @media screen and (min-width: 1200px) {
      padding-left: 13%;
    }
    @media screen and (min-width: 1500px) {
      padding-left: 20%;
    }
    h2 {
      font-size: 22px;
      font-family: 'Raleway-ExtraBold';
      color: $cl-dark-blue;
      border-bottom: 1px solid rgba(6, 41, 70, 0.4);
      line-height: 1;
      padding-bottom: 20px;
      position: relative;
      @media screen and (min-width: 750px) {
        border: 0;
        font-size: 26px;
        padding-bottom: 22px;
      }
      @media screen and (min-width: 1200px) {
        padding-left: 85px;
      }
    }
    @media screen and (min-width: 1200px) {
      .why-cf_header-triangle-wrap {
        width: 90px;
        position: absolute;
        left: 13%;
        bottom: 0;
        text-align: center;
        transform: translateX(-50%);
        .why-cf_header-triangle {
          width: 0;
          height: 0;
          border-left: 40px solid transparent;
          border-right: 40px solid transparent;
          border-bottom: 45px solid $cl-light-blue;
          display: inline-block;
          vertical-align: bottom;
          opacity: .5;
        }
      }
    }
    @media screen and (min-width: 1500px) {
      .why-cf_header-triangle-wrap {
        left: 20%;
      }
    }
  }
  .why-cf_articles-block-wrap {
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    padding-bottom: 0;
    border-bottom: 1px solid rgba(6, 41, 70, 0.4);
    &.is-last {
      border: 0;
    }
    @media screen and (min-width: 750px) {
      padding-bottom: 25px;
      margin-left: 0;
      margin-right: 0;
      border: 0;
    }
    @media screen and (min-width: 750px) {
      &::before {
        content: "";
        border-bottom: 1px solid rgba(6, 41, 70, 0.4);
        position: absolute;
        bottom: 0;
        left: 10%;
        width: 80%;
        @media screen and (min-width: 750px) {
          width: 70%;
        }
        @media screen and (min-width: 1200px) {
          left: 13%;
          width: 46%;
        }
      }
    }
    @media screen and (min-width: 750px) {
      padding-left: 10%;
      padding-right: 0;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 13%;
      padding-right: 10%;
    }
    @media screen and (min-width: 1500px) {
      padding-left: 20%;
      padding-right: 16%;
      &::before {
        content: "";
        left: 20%;
        width: 38%;
      }
    }
    .why-cf_articles-block {
      @media screen and (min-width: 750px) {
        width: 50%;
        float: left;
        margin-top: 25px;

      }
      .why-cf_articles-block-header {
        width: 100%;
        padding-top: 15px;
        padding-bottom: 15px;
        @media screen and (min-width: 750px) {
          height: auto;
          padding-top: 30px;
          padding-bottom: 30px;
        }
        h3 {
          font-size: 17px;
          font-family: 'Raleway-Bold';
          color: $cl-light-blue;
          float: left;
          padding-top: 40px;
          @media screen and (min-width: 750px) {
            padding-top: 0;
            font-size: 22px;
            float: none;
          }
        }
        .why-cf_articles-block-mobile-logo {
          display: block;
          float: right;
          width: 150px;
          img {
            width: 100%;
            height: auto;
          }
        }
        @media screen and (min-width: 750px) {
          .why-cf_articles-block-mobile-logo {
            display: none;
          }
        }
      }
      .why-cf_articles-block-space {
        padding-bottom: 20px;
      }
      .why-cf_articles-block-title {
        margin-bottom: 20px;
        @media screen and (min-width: 750px) {
          margin-top: 20px;
          margin-bottom: 15px;
        }
        p {
        font-family: 'Raleway-Bold';
        color: $cl-gray-mid;
        font-size: 14px;
        @media screen and (min-width: 750px) {
          font-size: 15px;
        }
        }
      }
      .why-cf_articles-block-text {
        margin-bottom: 20px;
        p {
          font-size: 14px;
          font-family: 'Raleway-Regular';
          color: $cl-gray-mid;
          line-height: 1.5;
          @media screen and (min-width: 750px) {
            font-size: 15px;
          }
        }
      }
    }
    .why-cf_articles-logo-wrap  {
      display: none;
      @media screen and (min-width: 750px) {
        display: block;
        width: 45%;
        float: left;
        padding-top: 70px;
        padding-left: 2%;
      }
      @media screen and (min-width: 1200px) {
        padding-left: 10%;
      }
      .why-cf_articles-logo {
        width: 320px;
        float: left;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
    &.is-odd {
      margin-left: 20px;
      margin-right: 20px;
      padding-top: 0;
      border: 0;
      position: relative;
      border-bottom: 1px solid #99a7b3;
      &::before {
        content: "";
        border-bottom: none;
        border-bottom-width: 0;
      }
      @media screen and (min-width: 750px) {
        padding-left: 0;
        padding-right: 10%;
        margin-top: 20px;
        margin-left: 0;
        margin-right: 0;
        border-bottom: 0;
        padding-bottom: 40px;
        &::before {
          content: "";
          border-bottom: 1px solid rgba(6, 41, 70, 0.4);
          width: 70%;
          left: 10%;
          height: 1px;
          position: absolute;
          bottom: 0;
        }
      }
      @media screen and (min-width: 1200px) {
        padding-left: 10%;
        padding-right: 10%;
        &::before {
          content: "";
          border-bottom: none;
          border-bottom-width: 0;
        }
      }
      @media screen and (min-width: 1500px) {
        padding-left: 20%;
        padding-right: 16%;
      }
      .why-cf_articles-block {
        @media screen and (min-width: 750px) {
          width: 50%;
          float: right;
          margin-top: 40px;
        }
        .why-cf_articles-block-header {
          width: 100%;
          padding-top: 15px;
          padding-bottom: 15px;
          @media screen and (min-width: 750px) {
            width: auto;
            padding-top: 30px;
            padding-bottom: 30px;
          }
          .why-cf_articles-block-mobile-logo {
            display: block;
            float: right;
            width: 150px;
            img {
              width: 100%;
              height: auto;
            }
          }
          @media screen and (min-width: 750px) {
            .why-cf_articles-block-mobile-logo {
              display: none;
            }
          }
          h3 {
            font-size: 17px;
            font-family: 'Raleway-Bold';
            color: $cl-light-blue;
            float: left;
            padding-top: 40px;
            @media screen and (min-width: 750px) {
              padding-top: 0;
              font-size: 22px;
              float: none;
            }
          }
        }
        .why-cf_articles-block-title {
          margin-bottom: 20px;
          p {
          font-family: 'Raleway-Bold';
          color: $cl-gray-mid;
          font-size: 14px;
          @media screen and (min-width: 750px) {
            font-size: 15px;
          }
          }
        }
        .why-cf_articles-block-text {
          margin-bottom: 20px;
          p {
            font-size: 14px;
            font-family: 'Raleway-Regular';
            color: $cl-gray-mid;
            line-height: 1.5;
            @media screen and (min-width: 750px) {
              font-size: 15px;
            }
            @media screen and (min-width: 1200px) {
              padding-right: 15%;
              padding-bottom: 60px;
              border-bottom: 1px solid #99a7b3;
            }
          }
        }
      }
      .why-cf_articles-logo-wrap  {
        display: none;
        @media screen and (min-width: 750px) {
          display: block;
          width: 50%;
          float: left;
          padding-top: 70px;
          padding-left: 2%;
        }
        @media screen and (min-width: 1000px) {
          padding-left: 8%;
        }
        @media screen and (min-width: 1000px) {
          padding-left: 4%;
        }
        .why-cf_articles-logo {
          width: 320px;
          float: left;
          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}
.why-cf_banner {
  padding: 45px 20px 60px 20px;
  background-color: $cl-light-blue-banner;
  @media screen and (min-width: 750px) {
    margin-left: 0;
    margin-right: 0;
    margin-top: 80px;
  }
  .blog_banner-text {
    @media screen and (min-width: 750px) {
      text-align: center;
    }
    h2 {
      font-size: 26px;
      font-family: 'Raleway-ExtraBold';
      color: $cl-dark-blue;
    }
    >p {
      padding-top: 20px;
      font-family: 'Raleway-Regular';
      color: $cl-gray-mid;
      font-size: 15px;
      line-height: 1.5;
      padding-bottom: 20px;
      @media screen and (min-width: 750px) {
        font-size: 17px;
      }
      br {
        @media screen and (min-width: 750px) {
          display: none;
        }
      }
      span {
        font-family: 'Raleway-Bold';
      }
    }
  }
}
