.parallax-banner_wrap {
  display: none;
  height: 26vw;
  margin-top: 60px;
  margin-bottom: 0;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% auto;
  background-repeat: no-repeat;
  @media screen and (min-width: 750px) {
    display: block;
  }
}
