    <!-- MENU -->
    <section id="menu-nav-top" class="menu fixed-menu clearfix">
      <div class="menu_contact">
        <p class="menu_contact-number">+44 (0) 20 7846 0140</p>
        <a href="mailto:contact@engineerbetter.com" class="menu_contact-us">Contact us</a>
      </div>
      <div class="menu_header clearfix">
        <button class="menu_header-button">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a href="/" class="menu_header-logo">
          <img class="logo-header-img" alt="Brand" src="/img/engineer-better-logo.svg">
        </a>
      </div>
    </section>