    <div class="menu_list">
      <button class="menu_list-close">
        <p>&#x2716;</p>
      </button>
      <div class="menu_list-inner-wrap">
        <p class="menu_list-phone">+44 (0) 20 7846 0140</p>
        <a class="menu_list-contact-btn" href="mailto:contact@engineerbetter.com">Contact us&nbsp;<span>&#xe900;</span></a>
        <ul class="menu_list-links">
          <li><a href="/how-we-work/">How we work</a></li>
          <li><a href="/our-services/">Our services</a></li>
          <li><a href="/success-stories/">Success stories</a></li>
          <li><a href="/why-cloud-foundry/">Why cloud foundry?</a></li>
          <li><a href="/about-us/">About us</a></li>
        </ul>
        <div class="menu_list-icons">
          <a href="https://twitter.com/EngineerBetter">
            <img src="/img/twitter.svg" alt="Twitter profile">
          </a>
          <a href="https://github.com/EngineerBetter">
            <img src="/img/github.svg" alt="Github profile">
          </a>
        </div>
        <div class="menu_list-bot-menu">
          <a href="/blog/">Blog</a><span>|</span><a href="/join-our-team/">Careers</a><span>|</span><a href="//www.iubenda.com/privacy-policy/8251825" class="iubenda-nostyle no-brand iubenda-embed" title="Privacy Policy">Privacy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src = "//cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
        </div>
      </div>
    </div>
    <section class="menu-banner-top_wrap parallax is-page">
      <div class="menu-banner-top">
        <div class="menu-banner-top_contact">
          <a class="menu-banner-top_number" href="tel:+44 (0) 20 7846 0140">+44 (0) 20 7846 0140</a>
          <a class="menu-banner-top_contact-us" href="mailto:contact@engineerbetter.com">Contact us</a>
        </div>
        <div class="menu-banner-top_btn-wrap">
          <button class="menu_header-button">
            <span class="icon-bar top-bar"></span>
            <span class="icon-bar middle-bar"></span>
            <span class="icon-bar bottom-bar"></span>
          </button>
        </div>
        <div class="menu-banner-top_logo clearfix">
          <a href="/" class="home-banner_logo-img">
            <img class="logo-img" alt="Brand" src="/img/engineer-better-logo.svg">
          </a>
        </div>
      </div>
      <!-- HOME BANNER -->
      <div class="home-banner">
        <div class="home-banner_list clearfix">
          <div class="home-banner_list-category">
          {{ $currentPage := . }}
            <ul>
            {{ range .Site.Menus.main }}
                <li><a href="{{.URL}}" {{if $currentPage.IsMenuCurrent "main" . }} class="is-active"{{end}}>{{ .Name }}</a></li>
            {{end}}
            </ul>
          </div>
          <div class="home-banner_textarea">
            <h1 class="home-banner_textarea-header">{{ .Params.heading }} <strong>{{ .Params.headingBold }}&nbsp;<span>&#xe900;</span></strong></h1>
            <div class="home-banner_textarea-wrap">
              <p class="home-banner_textarea-description">{{ safeHTML .Description }}</p>
            </div>
          </div>
        </div>
      </div>
    </section>