
<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta name="description" content="Consultant engineers offering Cloud Foundry, BOSH and Concourse CI services in the UK">
    <title>EngineerBetter | More than Cloud Foundry specialists</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="css/main.css?v=4">
    <link rel="icon" type="image/png" href="/img/favicon.png">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-74442484-1', 'auto');
      ga('send', 'pageview');

    </script>

    <script src="//load.sumome.com/" data-sumo-site-id="7c63408cd1c29faa63d20123ff629d524df6674695e4305a0e602f2bbf431038" async="async"></script>
  </head>
  <body>
    <!-- MENU -->
    <section id="menu-nav-top" class="menu fixed-menu clearfix">
      <div class="menu_contact">
        <p class="menu_contact-number">+44 (0) 20 7846 0140</p>
        <a href="mailto:contact@engineerbetter.com" class="menu_contact-us">Contact us</a>
      </div>
      <div class="menu_header clearfix">
        <button class="menu_header-button">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a href="/" class="menu_header-logo">
          <img class="logo-header-img" alt="Brand" src="img/engineer-better-logo.svg">
        </a>
      </div>
    </section>
    <div class="menu_list">
      <button class="menu_list-close">
        <p>&#x2716;</p>
      </button>
      <div class="menu_list-inner-wrap">
        <p class="menu_list-phone">+44 (0) 20 7846 0140</p>
        <a class="menu_list-contact-btn" href="mailto:contact@engineerbetter.com">Contact us&nbsp;<span>&#xe900;</span></a>
        <ul class="menu_list-links">
          <li><a href="/how-we-work.html">How we work</a></li>
          <li><a href="/our-services.html">Our services</a></li>
          <li><a href="/success-stories.html">Success stories</a></li>
          <li><a href="/why-cloud-foundry.html">Why cloud foundry?</a></li>
          <li><a href="/about-us.html">About us</a></li>
        </ul>
        <div class="menu_list-icons">
          <a href="https://twitter.com/EngineerBetter">
            <img src="img/twitter.svg" alt="Twitter profile">
          </a>
          <a href="https://github.com/EngineerBetter">
            <img src="img/github.svg" alt="Github profile">
          </a>
        </div>
        <div class="menu_list-bot-menu">
          <a href="/blog.html">Blog</a><span>|</span><a href="/join-our-team.html">Careers</a><span>|</span><a href="/privacy-policy.html">Privacy</a>
        </div>
      </div>
    </div>
    <section class="menu-banner-top_wrap is-home">
      <div class="menu-banner-top_top-rows">
        <div class="menu-banner-top_top-rows-inner">
          <div class="menu-banner-top">
            <div class="menu-banner-top_contact">
              <a class="menu-banner-top_number" href="tel:+44 (0) 20 7846 0140">+44 (0) 20 7846 0140</a>
              <a class="menu-banner-top_contact-us" href="mailto:contact@engineerbetter.com">Contact us</a>
            </div>
            <div class="menu-banner-top_btn-wrap">
              <button class="menu_header-button">
                <span class="icon-bar top-bar"></span>
                <span class="icon-bar middle-bar"></span>
                <span class="icon-bar bottom-bar"></span>
              </button>
            </div>
            <div class="menu-banner-top_logo clearfix">
              <a href="/" class="home-banner_logo-img">
                <img class="logo-img" alt="Brand" src="img/engineer-better-logo.svg">
              </a>
            </div>
          </div>
          <!-- HOME BANNER -->
          <div class="home-banner is-home">
            <div class="home-banner_list clearfix">
              <div class="home-banner_list-category">
                <ul>
                  <li><a href="/how-we-work.html">How we work</a></li>
                  <li><a href="/our-services.html">Our services</a></li>
                  <li><a href="/success-stories.html">Success stories</a></li>
                  <li><a href="/why-cloud-foundry.html">Why cloud foundry?</a></li>
                  <li><a href="/about-us.html">About us</a></li>
                </ul>
              </div>
              <div class="home-banner_textarea">
                <h1 class="home-banner_textarea-header">We are more than</h1>
                <h2 class="home-banner_textarea-header-two">Cloud Foundry specialists&nbsp;<span>&#xe900;</span></h2>
                <div class="home-banner_textarea-wrap">
                  <p class="home-banner_textarea-description">We help businesses and technical leaders get from ideas to delivery and feedback. <strong>Fast.</strong></p>
                </div>
                <a href="/how-we-work.html" class="cloud-btn2"><p>See how we work <span>&#xe900;</span></p></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- HOME HEADER -->
      <div class="home-header clearfix">
        <div class="home-header_column">
          <h2 class="home-header_column-title">Are you a<br><span>business leader?</span></h2>
          <p class="home-header_column-text">Do you need to move faster? Is everyone busy but progress slow?</p>
          <a href="/how-we-work.html#business" class="home-header_column-btn">We can help <span>&#xe900;</span></a>
        </div>
        <div class="home-header_column">
          <h2 class="home-header_column-title">Are you a<br><span>technical leader?<span></h2>
          <p class="home-header_column-text">Do you need to deliver apps or platforms?</p>
          <a href="/how-we-work.html#technical-leader" class="home-header_column-btn">We can help <span>&#xe900;</span></a>
        </div>
        <div class="home-header_cloud1 parallax2">
        </div>
        <div class="home-header_cloud2 parallax2">
        </div>
      </div>
    </section>
    <!-- HOME ARTICLES -->
    <section class="home-articles">
      <div class="home-articles_1 fade-on-scroll clearfix">
        <div class="home-articles_1-col-1 clearfix">
          <img alt="Technologies" src="img/home-logos-bg.png">
          <div class="home-articles_slider">
            <div class="slick-slide">
              <img src="img/cloud-foundrycorp-logo.svg" alt="Cloud Foundry logo">
            </div>
            <div class="slick-slide">
              <img src="img/bosh-logo.svg" alt="BOSH logo">
            </div>
            <div class="slick-slide">
              <img src="img/concourse-logo.svg" alt="Concourse logo">
            </div>
          </div>
        </div>
        <div class="home-articles_1-col-2">
          <div class="home-articles_1-col-2-header clearfix">
            <h2>A range of technologies and services</h2>
            <div class="home-articles_1-col-2-header-slider">
              <img alt="Brand" src="img/article-mob-img.png">
            </div>
          </div>
          <div class="home-articles_1-col-2-content">
            <p>We help organisations use Cloud Foundry, BOSH and Concourse by offering enablement through delivery, consultancy and training.</p>
            <a href="/why-cloud-foundry.html" class="home-articles_1-col-2-content-link">Our technology <span>&#xe900;</span></a>
          </div>
        </div>
      </div>
      <div class="home-articles_2 fade-on-scroll clearfix">
        <div class="home-articles_2-col-1 clearfix">
          <div class="home-articles_2-col-1-wrap">
            <div class="home-articles_2-header">
              <h2 class="home-articles_2-header-title">Trusted by <span><br>global organisations</span></h2>
            </div>
            <div class="home-articles_2-text">
              <p>We work with some of the world's biggest financial institutions. FTSE 100 retailers, non-profit organistations and software vendors.</p>
            </div>
            <div class="home-articles_2-logo">
              <div class="home-articles_2-logo-1">
                <img class="home-articles_2-logo-img1" alt="Marks and Spencer" src="img/marks-spencer-logo.svg">
              </div>
              <div class="home-articles_2-logo-2">
                <img class="home-articles_2-logo-img2" alt="Hazelcast" src="img/hazelcast-logo-home.svg">
              </div>
              <div class="home-articles_2-logo-3">
                <img class="home-articles_2-logo-img3" alt="Pivotal" src="img/pivotal-logo-home.svg">
              </div>
              <div class="home-articles_2-button">
                <a href="/success-stories.html" class="home-articles_2-button-txt">See success stories <span>&#xe900;</span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="home-articles_2-col-2 clearfix">
          <div class="home-articles_2-col-2-background-img" >
            <img class="background-img" alt="Brand" src="img/home-our-thinking.png">
            <div class="home-articles_2-col-2-block">
              <div class="home-articles_2-col-2-header">
                <h2 class="home-articles_2-col-2-header-title">Our thinking</h2>
              </div>
              <div class="home-articles_2-col-2-text">
                <a href="/update/2017/10/05/post-devops.html">
                <p class="home-articles_2-col-2-text-1">Post DevOps - A Definition</p></a>
                <p class="home-articles_2-col-2-text-2">Oct 5, 2017</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{ partial "footer.html" . }}
    <script src="js/jquery-1.11.3.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/site.js?v=4"></script>
  </body>
</html>
